{% extends 'layout/base.html' %}
{% block content %}
<div class="blog-header">
  <h2 style="color: #FFF; font-weight: 500;">Don’t Just Gain info<br>
    <span style="color: #9FFF6D;">Build Knowledge</span></h2>
  <p style="color: #FFF; margin-top: 10px;">
    Whether you’re a new investor or a market expert, we’ve got something for everyone at the 
    <span style="color: #9FFF6D;">TRACO</span> blog
  </p>
  <div class="blog-header-img">
    <img src="{% static 'site-assets/banner-user.png' %}" alt="Banner User">
  </div>
</div>

<div class="category-tabs">
  {% for category in categories %}
    <a href="?category={{ category.name }}" class="tab-btn {% if category.name == selected_category %}active{% endif %}">
      {{ category.name }}
    </a>
  {% endfor %}
</div>

<div class="blog-cards">
  {% for post in posts %}
  <div class="blog-card">
    <img src="{{ post.image.url }}" alt="Blog Image" class="blog-card-img"/>
    <div class="blog-card-content">
      <h3 style="color: #FFF;">{{ post.title }}</h3>
      <small style="color: #E3E3E3">{{ post.read_time }} . {{ post.publish_date|date:"d M Y" }}</small>
      <p style="color: #E3E3E3; margin-top: 10px;">{{ post.brief }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div style="text-align: center; margin: 20px 0;">
  <button class="more-btn">More &#8595;</button>
</div>
{% endblock %}
